{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-3">
    <!-- Set the form -->
    <form method="POST" action="{{ url_for('main.login')
      }}">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label }}
        {% if form.username.errors %}
          {% for e in form.username.errors %}
            <p class="help-block">{{ e }}</p>
          {% endfor %}
        {% endif %}
        {{ form.username(class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {% if form.password.errors %}
          {% for e in form.password.errors %}
            <p class="help-block">{{ e }}</p>
          {% endfor %}
        {% endif %}
        {{ form.password(class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.remember.label }}<br>
        <input id="remember" class="form-contrl" name="remember" value="n", type="checkbox">
      </div>
 <!-- <div class="form-group">
        {{ openid_form.openid_url.label }}
        {{ openid_form.openid_url(class_='form-control') }}
      </div> -->
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <a href="{{ url_for('main.facebook_login') }}">Login via Facebook</a>
  </div>
  <div class="form-group">
    <a href="{{ url_for('main.twitter_login') }}">Login via Twitter</a>
  </div>
</div>
{% endblock %}
